<!doctype html>
%html
	%head
		%meta{:charset => "utf-8"}
		%link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%title 
			= current_page.data.title || "Rubyconf Australia"
		= stylesheet_link_tag "normalize", "application" 
		= javascript_include_tag  "all" 
		= partial 'header'
		%body{:class => page_classes}
			%section.talk-module
				.col-md-12.container
					%article
						.speaker-intro
							- if current_article.data[:image]
								.avatar-frame
									%img{:src => "../images/speakers/#{current_article.data[:image]}"}
							- else 
								%img{:src => '../images/placeholder.png'}
							%h1.speaker-title
								= current_article.title
						%h2.title About the speaker
						- if current_article.body == ""
							= current_article.body
						- else 
							%p Speaker bio coming soon.		

			- $current_speaker = current_article.data[:title]
			- page_articles.select{|article| article.data[:speaker] == $current_speaker && article.data[:type] == 'talk'}.each do |article|
				%section.speaker-talks
					.col-md-12.container
						%li.fa.fa-comments
						%h2.title
							=article.title
						=article.body
				
			- page_articles.select{|article| article.data[:speaker] == $current_speaker && article.data[:type] == 'workshop'}.each do |article|
				%section.speaker-workshops
					.col-md-12.container
						%li.fa.fa-wrench
						%h2.title
							=article.title
						=article.body
						%a.btn{:href => "http://www.eventbrite.com.au/e/rubyconf-australia-2014-tickets-8449999175", :target => '_blank'}
							Buy workshop ticket
			
			%section.speaker-video
				.col-md-12.container
					- if current_article.data[:video]
						.col-md-5
							%iframe{:width => "560", :height => "315", :src => current_article.data[:video], :frameborder => "0"}
						.col-md-7
							%h3
								Interview With
								=current_article.title
					- else
						%h3 
							Check back soon for the speakers video interview
								
	
	= partial 'footer'
	
	
