---
title: speakers
---

%h2 
	Wednesday 19th February @ Vibe Hotel North Sydney
- page_articles.select {|article| article.data[:type] == 'speaker' }.each do |article|
	.article-wrapper.col-sm-5.speaker-box
		.article-content.col-sm-10
			.article-header
				%h3.speaker-title 
					= link_to article.title, article 
					
				- if article.data[:twitter] != nil
					%span
						%a.fa{:href => "http://twitter.com/#{article.data[:twitter]}"}
							%i.fa.fa-twitter
				- if article.data[:linkedin] != nil
					%span
						%a.fa{:href => "http://linkedin.com/#{article.data[:linkedin]}"}
							%i.fa.fa-linkedin
				- if article.data[:github] != nil
					%span
						%a.fa{:href => "http://github.com/#{article.data[:github]}"}
							%i.fa.fa-github
			
			%p
				= article.data[:description]
			
			- if article.data[:talks] != nil
				%span
					%a{:href => '#'}
						%i.fa.fa-comments
						
						- $current_title = article.title
						- page_articles.select {|article| article.data[:type] == 'talk' && article.data[:speaker] == $current_title }.each do |article|
							= article.title#', '

			- if article.data[:video] != nil	
				%span
					%i.fa.fa-video	
					
				