---
title: speakers
---

%h2 
	Speakers & Talks @ RubyConf 2014
- page_articles.select {|article| article.data[:type] == 'speaker' }.each do |article|
	.article-frame.col-sm-5
		.article-wrapper.col-sm-12.speaker-box

			.article-header.col-sm-9
				.col-sm-12
					%h3.speaker-title 
						= link_to article.title, article 
						
					- if article.data[:twitter] != nil
						%span
							%a.fa{:href => article.data[:twitter], :target => '_blank'}
								%i.fa.fa-twitter
					- if article.data[:linkedin] != nil
						%span
							%a.fa{:href => article.data[:linkedin], :target => '_blank'}
								%i.fa.fa-linkedin
					- if article.data[:github] != nil
						%span
							%a.fa{:href => article.data[:github], :target => '_blank'}
								%i.fa.fa-github
				.col-sm-12
					%p.speaker-description
						= article.data[:description]
			
			.avatar-frame.col-sm-3
				- if article.data[:image] != nil
					%img{:src => "../images/speakers/#{article.data[:image]}"}
				- else 		
					%img{:src => 'images/placeholder.png'}
		
			.col-sm-12
				
				- $current_title = article.title
				- page_articles.select {|article| article.data[:type] == 'talk' && article.data[:speaker] == $current_title }.each do |article|
					%a{:href => '#'}
						%i.fa.fa-comments
						= article.title
			.col-sm-12
				- page_articles.select {|article| article.data[:type] == 'workshop' && article.data[:speaker] == $current_title }.each do |article|
					%a{:href => '#'}
						%i.fa.fa-wrench	
						= article.title
		
				- if article.data[:video] != nil
					%span.video-link
						%a{:href => '#'}
							%i.fa.fa-video-camera
							Watch our interview with 
							= article.data[:title]
						
					
				